@import "tailwindcss";

@theme {
  --color-primary-50: #edecf8;
  --color-primary-100: #dadaf1;
  --color-primary-200: #b5b4e4;
  --color-primary-300: #908fd6;
  --color-primary-400: #6b6ac8;
  --color-primary-500: #4544ba;
  --color-primary-600: #383795;
  --color-primary-700: #2a2970;
  --color-primary-800: #1c1b4b;
  --color-primary-900: #0e0e25;
  --color-primary-950: #070713;
  --color-background: var(--color-neutral-900);
  --color-foreground: var(--color-neutral-100);
  --color-accent: var(--color-neutral-900);
  --color-accent-foreground: var(--color-neutral-300);
  --color-popover: var(--color-neutral-800);
  --color-popover-foreground: var(--color-neutral-300);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  overflow: hidden;
}
